html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;

    
}
.dh{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Teko', sans-serif;
}
.container{
    max-width:1500px;
    margin:auto;
    box-shadow: 5px 5px 5px #d6c9c9;
}
[class*="col-"]{
    width:100%;

}
[class*="col-"]{
    float:left;
    padding:20px;
}
.row::after{
    content:'';
    display:table;
    clear:both;
}






/*header-area start*/
.header-icon{
    font-size:30px;
    text-align: center;
    
}
.header-icon #header-icon1{
    text-align: center;
    color:#e6d4d4;
    border:3px solid #f9f9f3;
    margin:10px;
    padding: 5px 10px;
}
.header-icon span{
    color:#faefef;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}
.menu-ber{
}
.menu-ber ul{
   text-align: center;
}
.menu-ber ul li{
    font-size: 15px;
    padding:5px 0px;
}
.menu-ber ul li a{
    color: rgb(14, 14, 14);
    text-transform: uppercase;
}
.menu-ber ul li:hover{
    background-color: hsl(0, 3%, 30%);
    border-radius: 5px;
    margin:0px 10px;
}
header{
    width:100%;
    background-color: #0e0c0c;
    min-height:auto;

    /*header fixed*/
    position: sticky;
    top:0;
    z-index: 999;
}
/*header-area end*/






/*content section start*/
.content1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content1 .content-text{
    text-align: center;
    padding:10px 10px;
}
.content1 .content-para{
    text-align: justify;
}
.content-img{
    width:400px;
    height:400px;
    text-align: center;
    margin:20px;
    box-sizing: border-box;
    border:2px solid #fefefc;
}
.content-img img{
    width:100%;
    height:100%;
    
}
/*content section end*/




/*about me area start*/
   #about-me{
        width:100%;
        height:auto;
        background-color: #3C3C3C;
    }
    .about{
        text-align: center;
    }
    .about h1{
        padding:60px 0px 20px 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 70px;
    }
    .all-text{
        height:250px;
        width:290px;
        box-sizing: border-box;
        background-color: #fdfded;
        border-radius: 8px;
        margin:10px;  
        transition:.4s; 
    }
    .all-text:hover{
        transform: scale(1.1);
    }
    .all-text .heading{
        text-align: center;
        padding: 20px 0px 10px 0px;
        font-size: 20px;
    }
    .all-text .para{
        text-align: justify;
        padding: 10px 10px;
        font-size: 14px;
    }
    .all-text .button{
        text-align: center;
        padding:30px;
    }
    .all-text .button #button{
        text-transform: uppercase;
        font-weight: bold;
        padding:10px 40px;
        position:relative;
        top: 2px;
        right: 5px;
        background-color:#E5E221;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border:none;
        border-radius: 4px;
        text-align: center;
        transition-duration: 0.4s;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 5px #666;
}

.button:hover {}
.button:active {
box-shadow: 0 1px #3C3C3C;
transform: translateY(2px);}

    .card-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin:50px 10px 70px 10px;
        
    }
/*about me area end*/








/*archives section start*/
    #archives{
        
    }
    .archives-heading{
        text-align:center;
    }
    .archives-heading h1{
        padding:60px 0px 20px 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50px;
    }
    .archives-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        border-top: 2px solid #ACACA9;
        border-bottom:2px solid #ACACA9 ;
        margin:20px;
    }
    .archives-flex .archives-img{
        height:400px;
        width:400px;
        text-align: center;
        
    }
    .archives-flex img{
        width:100%;
        height:100%;
        padding:20px;
        border-radius:30px;
    }
/*archives section end*/





/*Blog section start*/
    #blog-post{

    }
    .blog-heading{
        text-align: center;
    }
    .blog-heading h1{
        padding:60px 0px 20px 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 70px;
    }
    .blog-card{
        display: flex;
        justify-content: center;
        align-items: center;
        border:1px solid #E5E221;
        margin:20px;
        box-sizing: border-box;
        transition: .5s;
    }
    .blog-card:hover{
        transform: scale(1.04);
    }
    .blog-img{
        width:150px;
        height:150px;
        flex:1;
    }
    .blog-img img{  
        width:100%;
        height:100%;
    }
    .blog-text{
        flex:3;
        padding: 0px 10px 0px 10px ;
    }
    .blog-text .text-heading{
        font-size: 15px;
        padding-bottom: 2px;
    }
    .blog-text .text-heading h2{
        
    }
    .blog-text .text-subheading{
        padding-bottom: 2px;
    }
    .blog-text .text-subheading h3{

    }
    .blog-text .para{
        text-align: justify;
        font-size: 13px;
    }
    .blog-text .button1{
        padding: 5px 0px 0px 0px;  
    }
    .blog-text .button1 #button1 {
        text-transform: uppercase;
        font-weight: bold;
        padding:10px 40px;
        position:relative;
        top: 5px;
        right: 5px;
        background-color:#E5E221;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border:none;
        border-radius: 4px;
        text-align: center;
        transition-duration: 0.4s;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 5px #666;
}

.button1:hover {}
.button1:active {
box-shadow: 0 1px white;
transform: translateY(2px);}

/*Blog section end*/

/*contact section start*/
    #contact{
        background-color: #3C3C3C;
    }
    .contact-heading{
        text-align: center;
    }
    .contact-heading h1{
        padding:60px 0px 20px 0px;
        font-size: 40px;
    }
    .contact-card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        box-shadow: 10px 10px 10px #ACACA9;
        color: white;
    }
    .name {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name #fullname{
        margin:10px;
        height: 30px;
        width:300px;
    }
    .name .label2{

    }
    .name #email{
        margin:10px;
        height: 30px;
        width:300px;
    }
    .name .label3{

    }
    .name #textarea{
        margin:10px;
        height: 200px;
        width:280px;
    }
    #textarea{
        resize:none;
    }
    .button2{
        margin:0px 0px 50px 215px;
    }
    .button2 #submit{
        text-transform: uppercase;
        font-weight: bold;
        padding:10px 50px;
        position:relative;
        top: 20px;
        right: 50px;
        background-color:#E5E221;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border:none;
        border-radius: 4px;
        text-align: center;
        transition-duration: 0.4s;
        margin: 4px 2px;
        cursor: pointer;
        box-shadow: 0 5px #666;
    }

    .button2:hover {}
    .button2:active {
    box-shadow: 0 1px #3C3C3C;
    transform: translateY(2px);}
    label{
        flex:0.3;
    }
    input,textarea{
        flex:0.7;
    }   
/*contact section end*/

/*footer start*/
    footer{
        width:100%;
        background-color:#B2B2B2;
    }
    .copyright{
        text-align: center;
        padding:15px 0px 10px 0px;
    }
    .icon{
        text-align: center;
        padding:0px 0px 15px 0px;
        margin:0px 10px;
        
    }
    .icon i{
        font-size: 23px;
        padding:3px;
     
         
    }
    .icon button{
        border:none;
        border-radius:5px; 
    }
/*footer end*/
















@media only screen and (min-width: 992px){
    /*header-area start*/
    .menu-ber ul li{
       display: inline-block;
       padding: 0px 40px 0px 0px;
       transition: .3s;
    }
    .menu-ber ul li a{
        color: white;
    }
    .menu-ber ul li:hover{
        background-color: transparent;
        transform: scale(1.5);
    }
    .header-area{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-ber{
        display: flex;
        flex-direction: row;
    }
    .header-icon #header-icon1{
        padding:10px 15px 10px 15px;
    }
    .header-icon{
        padding:0px;
    }
    /*header-area end*/





    /*content section start*/
    .content1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .content-text{
        flex-basis: 50%;
    }
    .content-img{
        flex-basis: 50%;
        
    }
    .content1 .content-text h1{
        text-align: left;
        padding-bottom: 10px;
    }
    /*content section end*/







    /*about me area start*/
    .card-container{
        flex-direction: row;
    }
    /*about me area end*/



    /*archives section start*/
    .archives-flex{
        flex-direction: row;
    }
    .archives-flex .archives-img{
        height:190px;
        width:200px;
        text-align: center;
        
    }
    .archives-flex img{
        width:100%;
        height:100%;
        padding:20px;
        
    }
    /*archives section end*/





    /*Blog section start*/
    .blog-text .button{
        padding: 15px 0px 0px 0px;  
    }
    /*Blog section end*/




    /*contact section start*/

    /*contact section end*/


    /*footer start*/

    /*footer end*/

    .col-lg-1 {width: 8.33%;}
    .col-lg-2 {width: 16.66%;}
    .col-lg-3 {width: 25%;}
    .col-lg-4 {width: 33.33%;}
    .col-lg-5 {width: 41.66%;}
    .col-lg-6 {width: 50%;}
    .col-lg-7 {width: 58.33%;}
    .col-lg-8 {width: 66.66%;}
    .col-lg-9 {width: 75%;}
    .col-lg-10 {width: 83.33%;}
    .col-lg-11 {width: 91.66%;}
    .col-lg-12 {width: 100%;}

}

